<!DOCTYPE html>
<html>
    <head>
        <meta charset-"UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/reset.css">
        <link rel="stylesheet" href="static/base.css">
        <link rel="stylesheet" href="static/layout.css">
        <link rel="stylesheet" href="static/module.css">
    </head>
    <body>
    <header>
        <a href="/">Home</a>
        <a href="/journal/new-entry">New Entry</a>
    </header>
        <main>
            <div id="entryDisplayWrapper">
                <div id="entryTitleWrapper">
                    <h1 class="articleTitle">Bacon Ipsum</h1>
                    <p class="date">December 18th, 2016</p>
                    <p id="author">by Ted Callahan</p>
                </div>
                <div id=#entryWrapper>
                    <h3>Recent Awesome Things We've Learned</h3>
                    <ul>
                        <li>Big(O) Notation</li>
                        <li>Linked-List based Data Structures</li>
                        <li>Web App Deployment Frameworks (Pyramid)</li>
                    </ul>
                    <p>It feels like we're moving beyond the introductory part of Python knowledge and are really starting to get into the meat n' potatoes of development and CS concepts. For the first time in a while, I'm starting to feel somewhat empowered as a dev-in-development.  Not to say I know everything there is, but I know enough to now to actually make something with it, and more importantly, I'm starting to have some idea of what I don't know.</p>

                    <p>Despite the time crunch and the fast pace, I've enjoyed the class to this point.  BUT, I am really excited for what is to come.</p>

                    <p>Of course, the second I begin to think this, the rug will be pulled out from underneath once again.</p>

                    <p>Looking forward to building stuff.</p>
                </div>
                <a href="/journal/edit">EDIT</a>
            </div>
        </main>
    </body>
</html>