{% extends "layout.jinja2" %}
{% block body %}
    <div id="entryDisplayWrapper">
        <div id="entryTitleWrapper">
            <h1 class="articleTitle">{{ title }}</h1>
                <p class="date">{{ creation_date }}</p>
                <p id="author">by Ted Callahan</p>
        </div>
        <div id=#entryWrapper>
           {{ body }}
        </div>
        <a href="{{ request.route_url('update') }}">EDIT</a>
{% endblock %}
