<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>This si where I list what's in my bag.</h1>
    <ul>
    {% for item in bag_list %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>